.cases {
  position: relative;
  padding: 23px 0px;
  &-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: white;
  }
  &:before {
    content: "";
    position: absolute;
    top: -26vw;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 976px;
    background-image: linear-gradient(-225deg, #191048 0%, #1E0D65 13%, #2905A2 52%, #2A05A5 52%);
    transform: skewY(30.8deg);
    transform-origin: top left; 
  }
  &-item {
    width: 32%;
    margin-right: 1.5%;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    min-height: 450px;
    text-decoration: none;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &--honda {
      .cases-image {
        background-image: url(../img/case1.png);
      }
    }
    &--johnson {
      .cases-image {
        background-image: url(../img/case2.png);
      }
    }
    &--ridge {
      .cases-image {
        background-image: url(../img/case3.png);
      }
    }
    &:hover {
      background-color: #FAFDFF;
    }
  }
  &-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 284px;
  }
  &-slider {
    padding: 39px 0;
  }
  &-desc {
    font-size: 16px;
    line-height: 30px;
    color: #4A4A4A;
    padding: 20px 27px 26px;
  }
  &-bottom {
    padding: 47px 0 120px;
    position: relative;
  }
  &-logo {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    position: absolute;
    left: 0;
    top: 47px;
    z-index: 100;
  }
  &-content {
    width: 65%;
    margin-left: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 72px 0 0 18.3%;
  }
  &-about {
    font-size: 16px;
    line-height: 30px;
    color: white;
    padding: 23px 0;
  }
}


@media(max-width:3500px) {
  .cases:before {
    top: -26vw;
  }
}

@media(max-width:3000px) {
  .cases:before {
    top: -25vw;
  }
}


@media(max-width:2500px) {
  .cases:before {
    top: -24vw;
  }
}


@media(max-width:2000px) {
  .cases:before {
    top: -23vw;
  }
}

@media(max-width:1700px) {
  .cases:before {
    top: -22vw;
  }
}

@media(max-width:1700px) {
  .cases:before {
    top: -22vw;
  }
}

@media(max-width:1200px) {
  .cases:before {
    top: -20vw;
  }
}


@media(max-width: 1000px) {
  .cases {
    &:before {
      top: -22vw;
    }
    &-item {
      width: 300px;
    }
    .swiper-container {
      overflow: hidden;
    }
    .swiper-wrapper {
      display: flex;
    }
    .swiper-pagination, .swiper-button-next, .swiper-button-prev {
      display: inline-block;
    }
    &-bottom {
      padding-top: 0;
    }
    &-content {
      padding: 40px 0 0 7.3%;
    }
    &-logo {
      width: 28%
    }
    &-slider {
      margin-right: -33px;
    }
  }
}

@media(max-width:850px) {
  .cases {
    &-content {
      padding-left: 2.3%;
      width: 70%;
      margin-left: 29%;
      padding-top: 60px;
    }
    &-logo {
      width: 25%;
    }
    &:before {
      height: 1050px;
    }
  }
}

@media(max-width:768px) {
  .cases {
    padding: 141px 0px 20px;
    &::before {
      top: -20vw;
      height: 1033px;

    }
    &-title {
      font-size: 28px;
      line-height: 40px;
    }
    &-slider {
      padding: 17px 0;
      margin-right: -15px;
    }
    &-item {
      min-height: 423px;
    }
    &-desc {
      padding: 11px 27px 10px;
    }
    &-logo {
      position: relative;
      left: auto;
      top: auto;
      width: 192px;
      margin: 0 auto;
      display: block;
    }
    &-content {
      margin-left: 0;
      width: 100%;
      padding: 24px 0;
    }
    &-about {
      font-size: 14px;
      line-height: 30px;
    }
    &-bottom {
      padding-bottom: 0;
    }
  }
}


@media(max-width:600px) {
  .cases {
    &::before {
      top: -20vw;
      height: 1133px;

    }
  }
}

@media(max-width:400px) {
  .cases {
    padding: 91px 0px 20px;
    &:before {
      height: 1280px;
    }
    &-title {
      font-size: 27px;
      line-height: 40px;
    }
    &-slider {
      padding-top: 15px;
    }
    &-image {
      height: 227px;;
    }
    &-desc {
      padding: 7px 11px 10px;
      font-size: 14px;
      line-height: 21px;  
    }
    &-item {
      min-height: 328px;
      width: 239px;
    }
    &-content {
      padding: 50px 0px;
    }
    &-about {
      padding: 20px 0;
    }
  }
}