.restore {
  padding: 132px 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -40vw;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 976px;
    background-image: linear-gradient(-27deg, rgba(64,254,252,0.00) 0%, rgba(0,152,255,0.20) 85%);
    transform: skewY(30.8deg);
    transform-origin: top left; 
  }
  &-header {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }
  &-content {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
  &-slider {
    display: inline-block;
    vertical-align: top;
    width: 69%;
  }
  &-items {
    padding: 9px 0 0 6%;
    font-size: 0;
  }
  &-item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-bottom: 57px;
    &:nth-child(2n) {
      margin-right: 0;
      width: 48%;
    }
  }
  &-title {
    font-size: 24px;
    line-height: 32px;
  }
  &-caption {
    font-size: 16px;
    line-height: 30px;
    color: #4A4A4A;
    padding-top: 15px;
  }
}

@media(max-width:3500px) {
  .restore:before {
    top: -34vw;
  }
}

@media(max-width:3000px) {
  .restore:before {
    top: -35vw;
  }
}

@media(max-width:2500px) {
  .restore:before {
    top: -36vw;
  }
}

@media(max-width:2000px) {
  .restore:before {
    top: -37vw;
  }
}

@media(max-width:1700px) {
  .restore:before {
    top: -39vw;
  }
}

@media(max-width:1500px) {
  .restore:before {
    top: -40vw;
  }
}