
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}


.all {
  position: relative;
  min-width: 320px;
  font-family: $openSans;
  background-color: white;
}
.inner {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  padding: 0 33px;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

a {
  color: #489dff;
  &:hover {
    color: lighten(#489dff, 5);
  }
}


.button {
  border: 0;
  outline: 0;
}

.arrow-right {
  background-image: url(../img/arrow-right.svg);
  width: 16px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-left: 6px;
}